__pycache__/
.ipynb_checkpoints/
*.pyc
data/
logs/
save_pretrain/
temp_files/
*.bak*
*.old
*.log
*.wrong_backup
autodl-tmp
unlasting
*.out
*.csv
experiments/gene-fusion-scbench/*.json
*.pt
progress.txt

